<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.foucry.pilldroid">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MedicamentListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MedicamentDetailActivity"
            android:label="@string/title_medicament_detail"
            android:parentActivityName=".MedicamentListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.foucry.pilldroid.MedicamentListActivity" />
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="Welcome"
            android:parentActivityName=".MedicamentListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.foucry.pilldroid.MedicamentListActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="À propos de PillDroid"
            android:parentActivityName=".MedicamentListActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".CustomScannerActivity" />
        <service
            android:name=".PillDroidJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>